body{
    position: absolute;
    top: 35%; 
    left: 35%;
}
#generator{
    position: absolute;
    left: 35%;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    font-size: larger;

}
h1{
    background-color: white;
    padding: 10px;
}